@use "./abstracts/index" as *;

/* Reset Browsers
-------------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    vertical-align: baseline;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    margin-right: 0 !important;
    font-size: 62.5%;
    scroll-behavior: smooth;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background: var(--White);
    line-height: 1;
    padding: 0 !important;
    &::-webkit-scrollbar {
        width: 0px;
    }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
}

blockquote,
q {
    quotes: none;
}

a img {
    border: 0;
}

img {
    max-width: 100%;
    height: auto;
}

select {
    max-width: 100%;
}

/* General
-------------------------------------------------------------- */

body,
button,
input,
select,
textarea {
    font-family: $font-main;
    font-size: 15px;
    font-weight: 400;
    color: var(--body-text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    overflow-y: auto;
}

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
    -ms-interpolation-mode: bicubic;
}

p {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--Text-muted);
}

strong,
b,
cite {
    font-weight: bold;
}

dfn,
cite,
em,
i,
blockquote {
    font-style: italic;
}

abbr,
acronym {
    border-bottom: 1px dotted #e0e0e0;
    cursor: help;
}

.btn-link:focus,
.btn-link:hover,
mark,
ins {
    text-decoration: none;
}

sup,
sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

small {
    font-size: 75%;
}

big {
    font-size: 125%;
}

address {
    font-style: italic;
    margin: 0 0 20px;
}

code,
kbd,
tt,
var,
samp,
pre {
    margin: 20px 0;
    padding: 4px 12px;
    background: #f5f5f5;
    border: 1px solid #e0e0e0;
    overflow-x: auto;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
    border-radius: 0;
    height: auto;
}

svg,
svg path {
    @include transition3();
}

/* Elements
-------------------------------------------------------------- */

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

hr {
    margin-bottom: 20px;
    border: dashed 1px #ccc;
}

/* List */

ul,
ol {
    padding: 0;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li > ul,
li > ol {
    margin-bottom: 0;
}

li {
    list-style: none;
}

ul li,
ol li {
    padding: 0;
}

dl,
dd {
    margin: 0 0 20px;
}

dt {
    font-weight: bold;
}

del,
.disable {
    text-decoration: line-through;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

/* Table */

table,
th,
td {
    border: 1px solid #343444;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    border-width: 1px 0 0 1px;
    margin: 0 0 30px;
    table-layout: fixed;
    width: 100%;
}

caption,
th,
td {
    font-weight: normal;
    text-align: left;
}

th {
    border-width: 0 1px 1px 0;
    font-weight: bold;
}

td {
    border-width: 0 1px 1px 0;
}

th,
td {
    padding: 8px 12px;
}

/* Media */

embed,
object,
video {
    margin-bottom: 20px;
    max-width: 100%;
    vertical-align: middle;
}

p > embed,
p > iframe,
p > object,
p > video {
    margin-bottom: 0;
}

/* Forms
-------------------------------------------------------------- */
/* Fixes */
button,
input {
    line-height: normal;
}

button,
input,
select,
textarea {
    font-size: 100%;
    line-height: inherit;
    margin: 0;
    vertical-align: baseline;
}

textarea {
    overflow: auto;
    /* Removes default vertical scrollbar in IE6/7/8/9 */
    vertical-align: top;
    /* Improves readability and alignment in all browsers */
}

input[type="checkbox"] {
    display: inline;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    line-height: 1;
    cursor: pointer;
    -webkit-appearance: button;
    border: 0;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    background: rgba(0, 0, 0, 0);
    cursor: pointer;
    vertical-align: sub;
    /* Addresses excess padding in IE8/9 */
}

input[type="search"] {
    -webkit-appearance: textfield;
    /* Addresses appearance set to searchfield in S5, Chrome */
}

input[type="search"]::-webkit-search-decoration {
    /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
    -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/* Remove chrome yellow autofill */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #f7f7f7 inset;
}

/* Reset search styling */
input[type="search"] {
    outline: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

/* Placeholder color */
::-webkit-input-placeholder {
    color: #171412;
}

::-moz-placeholder {
    color: #171412;
    opacity: 1;
}

/* Since FF19 lowers the opacity of the placeholder by default */
:-ms-input-placeholder {
    color: #171412;
}

/* Typography
-------------------------------------------------------------- */

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: $font-main;
    margin: 0;
    text-rendering: optimizeLegibility;
    font-weight: 500;
    color: var(--Text-light);
}

h1,
.h1 {
    font-size: 80px;
    line-height: 88px;
}

h2,
.h2 {
    font-size: 56px;
    line-height: 68px;
}

h3,
.h3 {
    font-size: 44px;
    line-height: 60px;
}

h4,
.h4 {
    font-size: 32px;
    line-height: 40px;
}

h5,
.h5 {
    font-size: 24px;
    line-height: 30px;
}

h6,
.h6 {
    font-size: 20px;
    line-height: 28px;
}

.text-body-1 {
    font-size: 16px;
    line-height: 28px;
}

.text-body-2 {
    font-size: 18px;
    line-height: 30px;
}

.text-title {
    font-size: 18px;
    line-height: 28px;
}

.text-button {
    font-size: 16px;
    line-height: 24px;
}

.text-caption-1 {
    font-size: 14px;
    line-height: 22px;
}

.text-caption-2 {
    font-size: 12px;
    line-height: 20px;
}

.text-label {
    font-size: 12px;
    line-height: 16px;
}

@include res(xl) {
    h1,
    .h1 {
        font-size: 66px;
        line-height: 74px;
    }

    h2,
    .h2 {
        font-size: 46px;
        line-height: 54px;
    }

    h3,
    .h3 {
        font-size: 36px;
        line-height: 44px;
    }

    h4,
    .h4 {
        font-size: 26px;
        line-height: 34px;
    }
}
@include res(lg) {
    h1,
    .h1 {
        font-size: 55px;
        line-height: 63px;
    }

    h2,
    .h2 {
        font-size: 38px;
        line-height: 46px;
    }

    h3,
    .h3 {
        font-size: 30px;
        line-height: 38px;
    }
}
@include res(md) {
    h1,
    .h1 {
        font-size: 45px;
        line-height: 53px;
    }

    h2,
    .h2 {
        font-size: 31px;
        line-height: 39px;
    }

    h3,
    .h3 {
        font-size: 25px;
        line-height: 33px;
    }
    h4,
    .h4 {
        font-size: 18px;
        line-height: 26px;
    }
    h5,
    .h5 {
        font-size: 20px;
        line-height: 28px;
    }

    h6,
    .h6 {
        font-size: 17px;
        line-height: 25px;
    }

    .text-body-1 {
        font-size: 14px;
        line-height: 22px;
    }

    .text-body-2 {
        font-size: 15px;
        line-height: 25px;
    }

    .text-title {
        font-size: 15px;
        line-height: 23pxpx;
    }
}

@include res(sm) {
    h1,
    .h1 {
        font-size: 36px;
        line-height: 44px;
    }

    h2,
    .h2 {
        font-size: 28px;
        line-height: 36px;
    }
}
/* color-text
-------------------------------------------------------------- */
.text_white {
    color: var(--Text-light);
}
.text_primary-color {
    color: var(--Primary);
}
.text_secondary-color {
    color: var(--Text-secondary);
}
.text_muted-color {
    color: var(--Text-muted);
}
/* font
-------------------------------------------------------------- */
.font-2 {
    font-family: $font-2;
}
.font-3 {
    font-family: $font-3;
}
.font-4 {
    font-family: $font-4;
}

/* letter-spacing
-------------------------------------------------------------- */
.letter-spacing-1 {
    letter-spacing: 1.1px;
}

/* font-weight
-------------------------------------------------------------- */
.fw-4 {
    font-weight: 400;
}
.fw-5 {
    font-weight: 500;
}
.fw-6 {
    font-weight: 600;
}
.fw-7 {
    font-weight: 700;
}

/* Line Clamp
-------------------------------------------------------------- */
.line-clamp-1 {
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    display: -webkit-box !important;
}
/* link style
-------------------------------------------------------------- */
a {
    display: inline-block;
    text-decoration: none;
    color: var(--Primary);
    cursor: pointer;
    @include transition3;
    &:hover,
    &:focus {
        color: var(--Primary);
        outline: 0;
        @include transition3;
    }
}

.link {
    color: inherit;
    &:hover {
        @include transition3;
        color: var(--Primary) !important;
    }
}

/* tf-container
-------------------------------------------------------------- */
.tf-container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 1500px;
    max-width: 100%;
    .row {
        margin-left: -15px !important;
        margin-right: -15px !important;
        > * {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
    }
    &.w-2 {
        width: 1430px;
    }
    &.w-3 {
        width: 1320px;
    }
    &.w-4 {
        width: 1910px;
    }
    &.w-5 {
        width: 1590px;
    }
    &.w-6 {
        width: 1320px;
    }
}

/* grid-layout
-------------------------------------------------------------- */
.tf-grid-layout {
    --spacing: 30px;
    display: grid;
    column-gap: var(--spacing);
    row-gap: var(--spacing);
    &.tf-col-2 {
        grid-template-columns: 1fr 1fr;
    }
    &.tf-col-3 {
        grid-template-columns: repeat(3, 1fr);
    }
    &.tf-col-4 {
        grid-template-columns: repeat(4, 1fr);
    }
    &.tf-col-5 {
        grid-template-columns: repeat(5, 1fr);
    }
    &.tf-col-6 {
        grid-template-columns: repeat(6, 1fr);
    }
    &.tf-col-7 {
        grid-template-columns: repeat(7, 1fr);
    }
    .wg-pagination {
        grid-column: 1 / -1;
        width: 100%;
    }
    .wd-load {
        grid-column: 1 / -1;
    }
    &.gap30 {
        gap: 30px;
    }
}

.tf-grid-layout-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

@include res(sm, min) {
    .tf-grid-layout {
        &.sm-col-2 {
            grid-template-columns: repeat(2, 1fr);
        }
        &.sm-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }
        &.sm-col-4 {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

@include res(md, min) {
    .tf-grid-layout {
        --spacing: 20px;
        gap: var(--spacing);
        &.md-col-2 {
            grid-template-columns: repeat(2, 1fr);
        }
        &.md-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }
        &.md-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

@include res(lg, min) {
        .tabs-content-wrap.tf-grid-layout {
        --spacing: 23px 43px;
        }
       .tf-grid-layout {
               --spacing: 26px 20px;
        gap: var(--spacing);
        &.lg-col-2 {
            grid-template-columns: repeat(2, 1fr);
        }
        &.lg-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }
        &.lg-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }
        &.lg-col-5 {
            grid-template-columns: repeat(5, 1fr);
        }
    }
}

@include res(xl, min) {
    .tf-grid-layout {
        &.xl-col-2 {
            grid-template-columns: repeat(2, 1fr);
        }
        &.xl-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }
        &.xl-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

@include res(xxl, min) {
    .tf-grid-layout {
        &.xxl-col-3 {
            grid-template-columns: repeat(3, 1fr);
        }
        &.xxl-col-4 {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

/* Background
-------------------------------------------------------------- */
.bg_dark {
    background-color: var(--Bg-dark);
}

/* gap
-------------------------------------------------------------- */
.gap_4 {
    gap: 4px;
}
.gap_8 {
    gap: 8px;
}
.gap_12 {
    gap: 12px;
}
.gap_24 {
    gap: 24px;
}
/* padding
-------------------------------------------------------------- */
.pt_24 {
    padding-top: 24px;
}
/* margin
-------------------------------------------------------------- */
.mb_4 {
    margin-bottom: 4px;
}
.mb_7 {
    margin-bottom: 7px;
}
.mb_8 {
    margin-bottom: 8px;
}
.mb_11 {
    margin-bottom: 11px;
}
.mb_12 {
    margin-bottom: 12px;
}
.mb_16 {
    margin-bottom: 16px;
}
.mb_19 {
    margin-bottom: 19px;
}
.mb_20 {
    margin-bottom: 20px;
}
.mb_21 {
    margin-bottom: 21px;
}
.mb_24 {
    margin-bottom: 24px;
}
.mb_28 {
    margin-bottom: 28px;
}
.mb_29 {
    margin-bottom: 29px;
}
.mb_30 {
    margin-bottom: 30px;
}
.mb_32 {
    margin-bottom: 32px;
}
.mb_33 {
    margin-bottom: 33px;
}
.mb_34 {
    margin-bottom: 34px;
}
.mb_40 {
    margin-bottom: 40px;
}
.mb_42 {
    margin-bottom: 42px;
}
.mb_43 {
    margin-bottom: 43px;
}
.mb_44 {
    margin-bottom: 44px;
}
.mb_45 {
    margin-bottom: 45px;
}
.mb_47 {
    margin-bottom: 47px;
}

/* Extra classes
-------------------------------------------------------------- */

.z-2 {
    z-index: 2;
}

.spacing-1 {
    padding-top: 50px;
    padding-bottom: 50px;
    @include res(md) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
.spacing-2 {
    padding-top: 40px;
    padding-bottom: 40px;
    @include res(md) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
.spacing-3 {
    padding-top: 59px;
    padding-bottom: 50px;
    @include res(md) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}
.spacing-4 {
    padding-top: 80px;
    padding-bottom: 80px;
    @include res(md) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.spacing-5 {
    padding-top: 100px;
    @include res(md) {
        padding-top: 50px;
    }
}
.spacing-6 {
    padding-top: 71px;
    @include res(md) {
        padding-top: 50px;
    }
}
.lg-hide {
    @include res(lg) {
        display: none !important;
    }
}
.md-hide {
    @include res(md) {
        display: none !important;
    }
}

.list-icon {
    gap: 8px 12px;
    li {
        > * {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 48px;
            width: 48px;
            border-radius: 50%;
            font-size: 24px;
            color: var(--Text-light);
            background: linear-gradient(
                123.51deg,
                rgba(215, 237, 237, 0.1) -61.8%,
                rgba(204, 235, 235, 0.01) 100%
            );
        }
        svg {
        width: 20px;
        color: var(--Text-light);
        fill: var(--Text-light);
       }
        &:hover {
            > * {
                background-color: var(--Text-light);
                color: var(--Text-primary);
            }
        }
        &:hover svg{

                color: var(--Text-primary);
                fill: var(--Text-primary);
            
        }
    }
}

.logo {
    color: var(--Text-light) !important;
    font-size: 36px;
    line-height: 36px;
    font-family: $font-2;
}

.toggle-switch-mode {
    @include transition3();
    cursor: pointer;

    &.active {
        background-color: var(--Text-light);
        color: var(--Text-primary);
    }
}

.body-overlay {
    position: fixed;
    object-fit: cover;
    left: 0;
    top: 0;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    z-index: 0;
    svg {
        width: 100%;
        path {
            fill: var(--Primary);
        }
        linearGradient {
            stop {
                stop-color: var(--Primary);
            }
        }
    }
}

.overlay-link {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.section.dimmed {
    opacity: 0.15;
    @include transition3();
}

.wp-block-group.has-background {
    padding: 30px;
    margin-top: 0;
    margin-bottom: 0;
    margin-bottom: 20px;
}

.content-single ul li {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}

.wp-block-quote {
    &.has-text-align-right {
            text-align: right;
    }
        &.has-text-align-left {
            text-align: left;
    }
}

.logged-in-as a,
blockquote em a,
blockquote em {
  color: var(--Primary);
}

blockquote code {
  color: inherit;
}

.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
  margin: 40px 0px 40px 0px;
  padding: 31px 45px 26px 140px;
}

blockquote em,
blockquote i,
blockquote cite {
  font-weight: 500;
}

blockquote em,
blockquote cite {
  margin-bottom: 0px;
}

abbr[title] {
  border-bottom: 1px dotted #c0c0c0;
  cursor: help;
}

mark,
ins {
  background-color: var(--theme-primary-color);
  text-decoration: none;
  color: #fff;
  padding: 7px;
}

sup,
sub {
  font-size: 75%;
  height: 0;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -6px;
}

sub {
  bottom: -3px;
}

small {
  font-size: 75%;
}

big {
  font-size: 125%;
}

address {
  font-style: italic;
  margin: 0 0 20px;
}

code,
kbd,
tt,
var,
samp,
pre {
  font-family: Inconsolata, monospace;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

/* Alignments */
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em;
}

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.blockcenter {
  left: 50%;
  transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -o-transform: translatex(-50%);
}

.float-right {
  float: right;
}

blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
  margin: 7px 30px 25px 0 !important;
}

blockquote.alignright,
.wp-caption.alignright,
img.alignright {
  margin: 7px 0 25px 30px !important;
}

blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
  clear: both;
}

.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
  margin-bottom: 10px;
}

/* Content */
.bypostauthor article .gravatar {
  float: left;
  display: inline-block;
}

.page-header {
  margin: 0;
  border: 0;
}

.page-header .nothing {
  padding: 0;
  background-color: transparent;
  font-size: 40px;
  line-height: 40px;
  color: #ff1200;
}

.site-main {
  position: relative;
}

/* Accessibility */
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 0px;
  width: 0px;
  overflow: hidden;
}

/* Media */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

/* Captions */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin: 0 auto;
}

.wp-caption-text {
  text-align: center;
}

.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
  font-size: 0.9em;
}

/*Block Editor*/
.wp-block-button__link {
  border-radius: 5px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.wp-block-button__link:hover {
  background: var(--Primary);
  color: var(--White);
}

.is-style-outline .wp-block-button__link {
  background: transparent !important;
  border-color: var(--On-surface);
  color: var(--On-surface);
}

.is-style-outline .wp-block-button__link:hover {
  background: var(--On-surface) !important;
  color: var(--White);
  border-color: var(--On-surface);
}

.wp-block-button:not(.alignleft):not(.aligncenter):not(.alignright) {
  margin-top: 30px;
}

.wp-block-button.is-style-squared a,
.wp-block-button__link.wp-block-button.is-style-squared a {
  border-radius: 0px;
}

.post-password-form button[type="submit"],
.post-password-form input[type="submit"] {
  margin-left: 15px;
  border-radius: 0px;
  padding: 22px 57px 22px 57px;
}

.post-password-form input[type="password"] {
  min-width: 300px;
  border-radius: 0px;
  border-color: var(--Line);
}

.wp-block-button {
  margin-bottom: 30px;
}

.wp-block-cover-image h1:not(.has-text-color),
.wp-block-cover-image h2:not(.has-text-color),
.wp-block-cover-image h3:not(.has-text-color),
.wp-block-cover-image h4:not(.has-text-color),
.wp-block-cover-image h5:not(.has-text-color),
.wp-block-cover-image h6:not(.has-text-color),
.wp-block-cover-image p:not(.has-text-color),
.wp-block-cover h1:not(.has-text-color),
.wp-block-cover h2:not(.has-text-color),
.wp-block-cover h3:not(.has-text-color),
.wp-block-cover h4:not(.has-text-color),
.wp-block-cover h5:not(.has-text-color),
.wp-block-cover h6:not(.has-text-color),
.wp-block-cover p:not(.has-text-color) {
  color: var(--White);
}

.entry-content>.alignwide:not(.wp-block-group.has-background),
.entry-content>.alignfull:not(.wp-block-group.has-background),
.wp-block-archives:not(.alignwide):not(.alignfull),
.wp-block-categories:not(.alignwide):not(.alignfull),
.wp-block-code,
.wp-block-columns:not(.alignwide):not(.alignfull),
.wp-block-cover:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
.wp-block-embed:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
.wp-block-gallery:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
.wp-block-group:not(.has-background):not(.alignwide):not(.alignfull),
.wp-block-image:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright):not(.aligncenter),
.wp-block-latest-comments:not(.aligncenter):not(.alignleft):not(.alignright),
.wp-block-latest-posts:not(.aligncenter):not(.alignleft):not(.alignright),
.wp-block-media-text:not(.alignwide):not(.alignfull),
.wp-block-preformatted,
.wp-block-pullquote:not(.alignwide):not(.alignfull):not(.alignleft):not(.alignright),
.wp-block-quote,
.wp-block-quote.is-large,
.wp-block-quote.is-style-large,
.wp-block-verse,
.wp-block-video:not(.alignwide):not(.alignfull) {
  margin-bottom: 30px;
  margin-top: 30px;
}

.wp-block-group.has-background {
  padding: 30px;
  margin-top: 0;
  margin-bottom: 0;
}

.has-large-font-size {
  line-height: 1.3;
}

.wp-block-quote {
  margin-left: 0;
  margin-right: 0;
}

.wp-block-quote cite {
  padding-left: 0;
}

/* Block Widget */
ul.wp-block-rss,
ul.wp-block-latest-posts,
ul.wp-block-archives-list,
ol.wp-block-latest-comments {
  margin-left: 0;
}

ul.wp-block-rss,
ol.wp-block-latest-comments {
  width: fit-content;
}

ul.wp-block-rss ul,
ul.wp-block-latest-posts ul,
ul.wp-block-archives-list ul,
ol.wp-block-latest-comments ul {
  padding-left: 15px;
}

ul.wp-block-rss li,
ul.wp-block-latest-posts li,
ul.wp-block-archives-list li,
ol.wp-block-latest-comments li {
  position: relative;
  list-style: none;
}

.wp-block-gallery:not(.has-nested-images).alignleft {
    margin-right: 15px;
}

.wp-block-group.has-background {
    margin-bottom: 20px;
}
